/*Navigation Properties*/
nav {
  background-color: rgb(241, 241, 241);
}

Nav.wrapper {
  margin: auto;
  padding: 0 10px;
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav a { 
  padding: 15px;
  text-decoration: none;
  color: #283b3a;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transition-duration: 200ms;
  cursor: pointer;
}

li .navlinks{
  align-items: center;
}

nav a:hover { 
  display: block;
  margin: 0 0;
  background-color: #283b3a;
  color: white;
}

/*Dropdown button code copied from https://www.w3schools.com/howto/howto_css_dropdown.asp
Dropdown styled on "Services" Button hover*/

.dropbtn {
  text-decoration: none;
  color: #283b3a;
  display:inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #283b3a;
  color: rgb(241, 241, 241);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 10px;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 12px 16px;
  color: rgb(241, 241, 241);
  transition-duration: 200ms;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #283b3a;
  color:rgb(241, 241, 241);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn:hover {
  background-color: #283b3a;
  color: rgb(241, 241, 241);
}


/*End of Navigation*/

/*HOMEPAGE*/
/*Hero image and Button link*/
.featureimage{
  margin: auto;
  padding: 200px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*Input slight background shadow*/
.compquote{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}

.compquote2{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}

a.button {
  display: block;
  justify-content: center;
  align-content: center;
  width: 200px;
  border: solid;
  border-width: 2px;
  border-color: rgb(241, 241, 241);
  border-radius: 20px;
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  font-weight: bold;
  color:rgb(241, 241, 241);
  text-decoration: none;
  text-align:center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 200ms;
  cursor: pointer;
}

a.button:hover{
  background-color: #f5cac7;
  border-color: #f5cac7;
  color:#283b3a;
}
/*End of Hero image*/

#homepagebox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffdad9;
    background-image: url(images/1x/green\ water.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 50px;
    color: #283b3a
}
/*Services boxes*/
/*See More button properties*/
.snippetbox1 a{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
  transition-duration: 200ms;
  cursor: pointer;
}
.snippetbox1 a:hover{
  background-color: #283b3a;
  color: white;
}

.snippetbox2 a{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
  transition-duration: 200ms;
  cursor: pointer;
}
.snippetbox2 a:hover{
  background-color: #283b3a;
  color: white;
}
/*END of See More Button Properties*/

.snippetbox1{
    display:flex;
    flex-direction: column;
    margin:30px;
    padding:25px;
    background-color: rgb(241, 241, 241);
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
.snippetbox2{
    display:flex;
    flex-direction: column;
    margin:30px;
    padding:25px;
    background-color: rgb(241, 241, 241);
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
/*END of ServicesBox*/

/*About Box*/
.about{
  display:flex;
  flex-direction: row;
  background-color: #ffdad9;
  padding-top: 100px;
}
.aboutbox{
  display:flex;
  flex-direction: column;
  justify-content: left;
  width: 60%;
  margin: 0 0;
  padding-top: 80px; 
  padding-left: 100px;
  padding-bottom: 30px;
  padding-right:10px;
  background-color: #ffdad9;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #334f4e;
}
.header{
  margin-top: 30px;
  margin-bottom: 20px;
}
.aboutsnippet{
  font-size: 1.5rem;
  margin: 0;
}
.buttonalign{
  display:flex;
  flex-direction: row;
  padding-top:40px;
  padding-bottom: 20px;
  margin: 0 0;
  transition-duration: 200ms;
  cursor: pointer;
}
.aboutbutton{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
}
.buttonalign a:hover{
  background-color: #bb6766;
  border-color: #bb6766;
  color: white;
}

.aboutimg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: #ffdad9;
  padding-top:30px;
}

/*testimonial box*/
.testimonial {
  display: flex;
  background-color: #ffdad9;
  margin: 0 0;
  padding-top: 100px;
  padding-bottom: 50px;
}

.circle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  margin: 50px 50px 50px 85px;
  padding: 50px 50px;
}

.circle h4{
  justify-content: center;
  color: #283b3a;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
  margin: 75px auto;
}

.testquote {
  flex-direction: column;
  align-content: center;
  align-self: center;
  background-color: #ffdad9;
  font-family: 'caveat', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #283b3a;
  border-left: solid;
  border-color: #283b3a;
  border-width: 5px;
  height: 50px;
  padding: 30px 100px 50px 20px;
}

/*Contact Box*/
.contact{
  display:flex;
  flex-direction: row;
  background-color: #ffdad9;
  padding-bottom: 100px;
}

.map{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
  padding-left: 80px;
}
.iframe {
  width:40%;
}
.contactbox{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 50px;
  background-color: #ffdad9;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #334f4e;
  text-align: right;
  width: 60%;
}
.header{
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 15px;
}
.contactsnippet{
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0;
}
.buttonalign2{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top:20px;
  padding-bottom: 20px;
}
.contactbutton{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
  transition-duration: 200ms;
  cursor: pointer;
}
.buttonalign2 a:hover{
  background-color: #bb6766;
  border-color: #bb6766;
  color: white;
}

/*END OF HOMEPAGE*/

/*ABOUT PAGE*/
.featureimage2{
  margin: auto;
  padding: 80px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.compquote22{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}
.abt-section{
  display:flex;
  flex-direction: row;
  background-color: #ffdad9;
}
.abt-text{
  font-family: 'Poppins', sans-serif;
  color: #283b3a;
  font-size: 1.5rem;
  padding: 50px 80px;
}
.abt-text p{
  font-size: 1rem;
}
.buttonalign3{
  padding-top:20px;
  padding-bottom: 20px;
}
.buttonalign3 a:hover{
  background-color: #bb6766;
  border-color: #bb6766;
  color: white;
}
.abt-img{
  padding: 170px 80px;
}
/*END of ABOUT PAGE*/

/*START of CONTACT PAGE*/
.featureimage3{
  margin: auto;
  padding: 80px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.compquote3{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}
.ctc-info{
  display: flex;
  background: #ffdad9;
  color: #283b3a;
  font-family: 'Poppins', sans-serif;
}
.circle2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  margin: 50px 130px;
  padding: 50px 50px;
}

.circle2 h4{
  justify-content: center;
  color: #283b3a;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
  align-items: center;
  text-align: center;
  margin: 50px auto;
}
.ctc-content{
  padding: 100px 10px;
}
.ctc-ctc{
  font-size: 1.3rem;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
}
.ctc-ctc li{
  padding-bottom: 10px;
}
table{
  border-collapse: collapse;
  width: 550px;
  margin: 0 0;
}
.pl{
  width: 60%;
}
table caption{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 80px 0px 30px;
}
td{
  text-align:center;
  padding: 20px 25px;
  font-weight: bold;
  font-size: 1rem;
}

tr:nth-child(even) {
  background-color: #f5cac7;
}
.map2{
  background-color: #ffdad9;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-form{
  margin: 100px 100px;
}
/*contact form*/
aside h3{
  font-size: 2rem;
  color: #283b3a;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
aside h4{
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color:#283b3a;
}
input[type="reset"] {
  color: #283b3a;
  padding: 12px 20px;
  border: 1px solid #283b3a;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'caveat', cursive;
  font-size: 2rem;
}

input[type="reset"]:hover {
  background-color: #d1efe3;
}

input[type="submit"] {
  background-color: #283b3a;
  color: white;
  padding: 12px 20px;
  margin-right: 10px;
  border: 1px solid #283b3a;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'caveat', cursive;
  font-size: 2rem;
}

input[type="submit"]:hover {
  background-color: #e5959d;
  border-color: #e5959d;
  color: #283b3a;
}
input,
  select,
  textarea {
    font-size: 1em;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type="email"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  textarea {
    font-family: sans-serif;
  }
  
  .label-required {
    font-size: 0.8rem;
    color: red;
  }
  .wrapper-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 40px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
  .policy {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 0;
  }
/*end of contact form*/
/*SERVICES PAGE*/
.featureimage4{
  margin: auto;
  padding: 80px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.compquote4{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}
.snippetbox3{
  display:flex;
  flex-direction: column;
  margin:30px;
  padding:25px;
  background-color: rgb(241, 241, 241);
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.snippetbox3 p{
  font-size: 1rem;
  padding: 20px 45px;
  text-align: center;
}
.snippetbox3 a{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
  margin: 20px;
}
.snippetbox3 a:hover{
  background-color: #283b3a;
  color: white;
}

.snippetbox4{
  display:flex;
  flex-direction: column;
  margin:30px;
  padding:25px;
  background-color: rgb(241, 241, 241);
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.snippetbox4 p{
  font-size: 1rem;
  padding: 20px 45px;
  text-align: center;
}
.snippetbox4 a{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
  margin: 20px;
}
.snippetbox4 a:hover{
  background-color: #283b3a;
  color: white;
}

/*END of SERVICES PAGE*/

/*START of SERVICES 1-1*/
.featureimage5{
  margin: auto;
  padding: 80px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.compquote5{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}
.src{
  font-family: 'Poppins', sans-serif;
  color: #283b3a;
  background-color: #ffdad9;
}
.serv1{
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffdad9;
  margin: 0 0;
}
.wax{
  width: 70%;
  margin: 0 0;
  padding-top: 50px; 
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right:130px;
  background-color: #ffdad9;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #334f4e;
}
.wax h2{
  font-size: 2rem;
}
.waximg{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: #ffdad9;
  padding-top:100px;
  padding-left: 50px;
}
.price-header{
  font-size: 2rem;
  text-align: center;
  padding: 100px 0 20px;
}
.wax-pl{
  display: flex;
  flex-direction: column;
  background-color: #ffdad9;
  color: #283b3a;
  font-family: 'poppins', sans-serif;
  width: 100%;
  border-collapse: collapse;
}
.table-row{
  display:flex;
  padding-bottom: 100px;
}
.table-column{
  flex: 50%;
  margin: 20px 0 0 150px;
}
table caption{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 80px 0px 30px;
}
.wax-pl th{
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}
.wax-row{
  text-align: center;
  align-content: center;
  padding: 20px 100px;
}
tr:nth-child(even) {
  background-color: #f5cac7;
}
table{
  border-collapse: collapse;
  width: 550px;
  margin: 0 0;
}
.pl{
  width: 60%;
}
.faq-header{
  text-align: center;
  padding: 100px 0 20px;
  font-size: 2rem;
}
/*END of SERVICES 1-1*/
/*START OF SERVICES 3-5*/
.featureimage6{
  margin: auto;
  padding: 80px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.compquote6{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'caveat', cursive;
  /*font-family: 'Caveat', cursive;*/
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}
.price-header2{
  font-size: 2rem;
  text-align: center;
  padding: 100px 0 20px;
}
.wax-pl2{
  display: flex;
  flex-direction: column;
  background-color: #ffdad9;
  color: #283b3a;
  font-family: 'poppins', sans-serif;
  width: 100%;
  border-collapse: collapse;
}
.table-row2{
  display:flex;
  padding-bottom: 100px;
}
.table-column2{
  flex: 50%;
  margin: 20px 0 0 80px;
}
table caption{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 80px 0px 30px;
}
.wax-pl2 th{
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}
.wax-row{
  text-align: center;
  align-content: center;
  padding: 20px 100px;
}
tr:nth-child(even) {
  background-color: #f5cac7;
}
table{
  border-collapse: collapse;
  width: 550px;
  margin: 0 0;
}
.pl{
  width: 60%;
}
.faq-header2{
  text-align: center;
  padding: 100px 0 20px;
  font-size: 2rem;
}
/*FOOTER*/
footer{
  display: flex;
  justify-content: center;
  background-color: #283b3a;
  padding: 10px 20px;
}
.fa {
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
footer a{
  margin-left:15px;
  margin-right: 15px;
  align-self: center;
}
footer p{
  flex-direction: row;
  font-size: 0.8rem;
  text-align: center;
  color:rgb(241, 241, 241);
  font-family: 'poppins', sans-serif;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .homepagebox{
    display: flex;
    flex-direction: column;
  }
}