/*Navigation Properties*/
nav {
  background-color: rgb(241, 241, 241);
}

Nav.wrapper {
  margin: auto;
  padding: 0 10px;
}

nav ul{
  display:flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li a { 
  padding: 15px;
  text-decoration: none;
  color: #283b3a;
  display:inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

li .navlinks {
  align-items: center;
}

nav li a:hover { 
  background-color: #283b3a;
  color: white;
}
/*End of Navigation*/

/*HOMEPAGE*/
/*Hero image and Button link*/
.featureimage{
  margin: auto;
  padding: 200px;
  background-color: #ffdad9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/1x/pexels-dids-3530116.jpg); /*linear gradient code copied from https://codetheweb.blog/fullscreen-image-hero/*/
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.compquote{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 4rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}

.compquote2{
  display:flex;
  justify-content: center;
  align-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(241, 241, 241);
  margin-top: 0;
  margin-bottom: 0.5em;
}

a.button {
  display: block;
  justify-content: center;
  align-content: center;
  width: 200px;
  border: solid;
  border-width: 2px;
  border-color: rgb(241, 241, 241);
  border-radius: 20px;
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  font-weight: bold;
  color:rgb(241, 241, 241);
  text-decoration: none;
  text-align:center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

a.button:hover{
  background-color: #f5cac7;
  border-color: #f5cac7;
  color:#283b3a;
}
/*End of Hero image*/

#homepagebox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffdad9;
    background-image: url(images/1x/green\ water.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 50px;
    color: #283b3a
}
/*Services boxes*/
/*See More button properties*/
.snippetbox1 a{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
}
.snippetbox1 a:hover{
  background-color: #283b3a;
  color: white;
}

.snippetbox2 a{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
}
.snippetbox2 a:hover{
  background-color: #283b3a;
  color: white;
}
/*END of See More Button Properties*/

.snippetbox1{
    display:flex;
    flex-direction: column;
    margin:30px;
    padding:25px;
    background-color: rgb(241, 241, 241);
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  .snippetbox2{
    display:flex;
    flex-direction: column;
    margin:30px;
    padding:25px;
    background-color: rgb(241, 241, 241);
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
/*END of ServicesBox*/

/*About Box*/
.aboutbox{
  display:flex;
  flex-direction: column;
  justify-content: left;
  margin: 0 0;
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffdad9;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #334f4e;
}
.header{
  margin-top: 20px;
  margin-bottom: 15px;
}
.aboutsnippet{
  font-size: 1.5rem;
  margin: 0;
}
.buttonalign{
  display:flex;
  flex-direction: row;
  padding-top:15px;
  padding-bottom: 20px;
}
.aboutbutton{
  text-decoration: none;
  font-family: 'caveat', cursive;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #283b3a;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #283b3a;
  padding: 12px;
}
.buttonalign a:hover{
  background-color: #bb6766;
  border-color: #bb6766;
  color: white;
}

/*testimonial box*/
.testimonial {
  display: flex;
  background-color: #ffdad9;
  margin: 0 0;
}

.circle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  margin: 50px 50px 50px 85px;
  padding: 50px 50px;
}

.circle h4{
  justify-content: center;
  color: #283b3a;
  font-size: 2rem;
  font-family: 'poppins', sans-serif;
  margin: 75px auto;
}

.testquote {
  flex-direction: column;
  align-content: center;
  align-self: center;
  background-color: #ffdad9;
  font-family: 'caveat', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: #283b3a;
  border-left: solid;
  border-color: #283b3a;
  border-width: 5px;
  height: 50px;
  padding: 30px 25px 50px 20px;
}

/*Contact Box*/
.contactbox{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0;
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffdad9;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: #334f4e;
}
.header{
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 15px;
}
.contactsnippet{
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  font-size: 1.5rem;
  margin: 0;
}

/*END OF HOMEPAGE*/

/*SERVICES PAGE*/
.serviceborder1{
  display:flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: pink;
  margin:100px;
  padding: 15px;
}

.serviceborder2{
    display:flex;
    flex-direction: row-reverse;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: pink;
    margin:100px;
    padding: 15px;
  }
/*END of SERVICES PAGE*/