nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1rem;
  margin-top:20px;
}

/*Homepage*/

.compquote{
  display:flex;
  margin: auto;
  padding:20px;
  background-color: pink;
  align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
}
#homepagebox{
    display:flex;
    flex-direction: row;
}
.snippetbox1{
    display:flex;
    flex-direction: column;
    margin:30px;
    padding:25px;
    background-color: pink;
    align-items: center;
  }
  .snippetbox2{
    display:flex;
    flex-direction: column;
    margin:30px;
    padding:25px;
    background-color: pink;
    align-items: center;
  }

/*Services Page*/

.serviceborder1{
  display:flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  background-color: pink;
  margin:100px;
  padding: 15px;
}

.serviceborder2{
    display:flex;
    flex-direction: row-reverse;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    background-color: pink;
    margin:100px;
    padding: 15px;
  }